#upload_search_button{
    z-index: 10;
    background-color: #603b5d9b;
    border: 5px green solid;
    width: 300px;
    margin-left: auto;
    margin-right: 200px;
    height: 60px;
}
#search_bar{
    background-color: #ffffff;
    border: 5px rgb(255, 255, 255) solid;
    width: 300px;
    margin-left: auto;
    margin-right: 200px;
    height: 60px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    background-color: red;
    height: 100%;
    width: 50%;
}
.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    height: 100%;
    width: 50%;
    row-gap: 15px;
}