
@font-face {
    font-family: Genesys;
    src: url("../css/images/Genesys.ttf");
}

.fondo{
    height: 100%;
    width: 100%;
    position: relative;
}

html {
    color: #D85400;
    background-image: url("../css/images/propuesta\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
    
}

.pagina {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
   
            
}