.top {
    background: linear-gradient(90deg,
       rgb(0, 0, 0) 10%,
        rgb(87, 86, 86) 50%
        ); 
    width: 100%;
    height: 49px;
    z-index: 5;
    flex-shrink: 0;
    position: absolute;
}

.titulo {
    font-family: Genesys;
    font-size: 40px;
    margin: 0;
    margin-left: 10px;
    padding-top: 8px; 
    user-select: none;
}

.titulo-2{
    font-family: Genesys;
    color: #acacac; 
    font-size: 40px;
    margin: 0;
    margin-left: 2px;
    padding-top: 8px; 
    user-select: none;
}