.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    height: 100%;
    width: 50%;
}
.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    row-gap: 15px;
}
