#search_bar{
    background-color: rgba(255, 255, 255, 0.973);
    border: 5px rgba(255, 255, 255, 0.699);
    width: 300px;
    margin-left: auto;
    margin-right: 200px;
    height: 30px;
    outline:none;
}

    #upload_button{
        font-family: Genesys;
        z-index: 10;
        width: 300px;
        margin-left: auto;
        margin-right: 200px;
        height: 60px;
        padding: 0 16px;
        border-radius: 5px;
        box-shadow: 0 8px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background-image: linear-gradient(#a3da58 10%,#608f1e 100%);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    height: 100%;
    width: 50%;
}
.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    row-gap: 15px;
}
